@page "/ConsultaCacaos"

@using BLL;
@using Models;
@using Reportes;
@using Paginacion;

@inject IToastService toast
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <NotAuthorized>
        <p class="h4 text-center">Usted no esta autorizado para acceder a esta pagina</p>

    </NotAuthorized>
</AuthorizeView>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{

    <div class="card">
        <div class="card-header">
            <h1>Consulta de Cacaos</h1>
        </div>

        <div class="card-body">
            <form>
                <div class="col">
                    <label>Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="0" disabled selected>Seleccione un Filtro</option>
                        <option value="1">CacaoId</option>
                        <option value="2">Tipo</option>
                        <option value="3">Cantidad</option>
                        <option value="4">Costo</option>
                        <option value="5">Precio</option>
                        <option value="6">UsuarioId</option>
                    </select>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label>Criterio</label>
                        <div class="input-group">
                            <input type="text" @bind="Criterio" class="form-control">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar(0))"><i class="oi oi-list-rich" /> Consultar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>UsuarioId</th>
                                <th>Tipo</th>
                                <th>Cantidad</th>
                                <th>Costo</th>
                                <th>Precio</th>
                                <th>Importe Compra</th>
                                <th>Importe Venta</th>
                                <th>UsuarioId</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var cacao in AuxListaCacaos)
                            {
                                <tr>
                                    <td>@cacao.UsuarioId</td>
                                    <td>@cacao.Tipo</td>
                                    <td>@cacao.Cantidad.ToString("n2")</td>
                                    <td>@cacao.Costo.ToString("n2")</td>
                                    <td>@cacao.Precio.ToString("n2")</td>
                                    <td>@((cacao.Cantidad * cacao.Costo).ToString("n2"))</td>
                                    <td>@((cacao.Cantidad * cacao.Precio).ToString("n2"))</td>
                                    <td>@cacao.UsuarioId</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="form-row">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div>
                <label>Total de Registros: @TotalRegistros</label>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div>
                <label>Total de Importe Compra: @TotalImporteCompra.ToString("n2")</label>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div>
                <label>Total de Importe Venta: @TotalImporteVenta.ToString("n2")</label>
            </div>
        </div>

        <div class="form-group text-center" display: inline-block>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <button class="page-link btn btn-primary"
                                @onclick="@(e => NavegateTo("Anterior"))" tabindex="-1">
                            Anterior
                        </button>
                    </li>

                    @for (int i = 0; i < TotalPaginas; i++)
                    {
                        var NumeroPagina = i;
                        <li class="page-item">
                            <button class="@(pagina.pagina == NumeroPagina ? "page-link btn btn-dark" : "page-link btn btn-danger")"
                                    @onclick="@(u => Consultar(NumeroPagina))">
                                @(i + 1)
                            </button>
                        </li>
                    }

                    <li class="page-item">
                        <button type="button" class="page-link btn btn-primary" @onclick="@(e => NavegateTo("Siguiente"))" tabindex="-1">Siguiente</button>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="card-footer">
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary oi oi-file" @onclick="GenerarReporte"> Generar Reporte</button>
            </div>

            <form>
                @if (Data is { })
                {
                    <object data="@pdfContent" width="1000" height="500"></object>
                }
            </form>
        </div>
    </div>
}

@code {
    public List<Cacaos> ListaCacaos { get; set; }
    public List<Cacaos> AuxListaCacaos { get; set; }

    Paginas pagina = new Paginas();

    public string Filtro { get; set; }

    public string Criterio { get; set; }

    private int TotalRegistros { get; set; }
    private int TotalPaginas { get; set; }

    private decimal TotalImporteCompra { get; set; }
    private decimal TotalImporteVenta { get; set; }

    byte[] Data;
    string pdfContent = "";

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        ListaCacaos = new List<Cacaos>();
        AuxListaCacaos = new List<Cacaos>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    public void Consultar(int pag)
    {
        switch (Filtro)
        {
            case "0": //Todo
                ListaCacaos = CacaosBLL.GetList(c => true);
                break;
            case "1": //CacaoId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int id = Convert.ToInt32(Criterio);
                        ListaCacaos = CacaosBLL.GetList(c => c.CacaoId == id);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    ListaCacaos = CacaosBLL.GetList(c => true).OrderBy(c => c.CacaoId).ToList();
                }
                break;
            case "2": //Tipo
                if (Criterio.Trim().Length > 0)
                    ListaCacaos = CacaosBLL.GetList(c => c.Tipo.Contains(Criterio));
                else
                    ListaCacaos = CacaosBLL.GetList(c => true).OrderBy(c => c.Tipo).ToList();
                break;
            case "3": //Cantidad
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        decimal cantidad = Convert.ToDecimal(Criterio);
                        ListaCacaos = CacaosBLL.GetList(c => c.Cantidad == cantidad);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    ListaCacaos = CacaosBLL.GetList(c => true).OrderBy(c => c.Cantidad).ToList();
                }
                break;
            case "4": //Costo
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        decimal costo = Convert.ToDecimal(Criterio);
                        ListaCacaos = CacaosBLL.GetList(c => c.Costo == costo);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    ListaCacaos = CacaosBLL.GetList(c => true).OrderBy(c => c.Costo).ToList();
                }
                break;
            case "5": //Precio
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        decimal precio = Convert.ToDecimal(Criterio);
                        ListaCacaos = CacaosBLL.GetList(c => c.Precio == precio);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    ListaCacaos = CacaosBLL.GetList(c => true).OrderBy(c => c.Precio).ToList();
                }
                break;
            case "6": //UsuarioId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int usuarioId = Convert.ToInt32(Criterio);
                        ListaCacaos = CacaosBLL.GetList(c => c.UsuarioId == usuarioId);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    ListaCacaos = CacaosBLL.GetList(c => true).OrderBy(c => c.UsuarioId).ToList();
                }
                break;
        }

        TotalPaginas = (int)Math.Ceiling(ListaCacaos.Count() / (decimal)pagina.mostrarCantidad);
        ActualizarLista(pag);

        TotalRegistros = ListaCacaos.Count();
        CalcularImporte(AuxListaCacaos);

        Filtro = "0";
    }

    private void ActualizarLista(int NumeroPagina)
    {
        AuxListaCacaos = ListaCacaos.Skip(NumeroPagina * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        pagina.pagina = NumeroPagina;
    }

    private void NavegateTo(string direccion)
    {
        if (direccion == "Anterior" && pagina.pagina != 0)
            pagina.pagina -= 1;
        if (direccion == "Siguiente" && pagina.pagina != TotalPaginas)
            pagina.pagina += 1;

        ActualizarLista(pagina.pagina);
    }

    private void CalcularImporte(List<Cacaos> listaCacaos)
    {
        foreach(var cacao in listaCacaos)
        {
            TotalImporteCompra += (cacao.Cantidad * cacao.Costo);
            TotalImporteVenta += (cacao.Cantidad * cacao.Precio);
        }
    }

    private void GenerarReporte()
    {
        CacaosReport cacaos = new CacaosReport();

        Data = cacaos.Reporte(AuxListaCacaos);

        pdfContent = "data:application/pdf;base64,";
        pdfContent += System.Convert.ToBase64String(Data);
    }
}