@page "/consultaVentas"

@using BLL;
@using Models;
@using Reportes;
@using Paginacion;

@inject IToastService toast
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <NotAuthorized>
        <p class="h4 text-center">Usted no esta autorizado para acceder a esta pagina</p>

    </NotAuthorized>
</AuthorizeView>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="card">
        <div class="card-header">
            <h1>Consulta de Ventas</h1>
        </div>

        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group">
                        <label>Filtrar por Fecha</label>
                        <select class="form-control" @bind="FiltroFecha">
                            <option value="0" disabled selected>Seleccione un Filtro de Fecha</option>
                            <option value="1">Fecha</option>
                            <option value="2">FechaCreación</option>
                            <option value="3">FechaModificación</option>
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <label>Desde</label>
                        <input type="date" @bind="Desde" class="form-control" />
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <label>Hasta</label>
                        <input type="date" @bind="Hasta" class="form-control" />
                    </div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                        <label>Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="0" disabled selected>Seleccione un Filtro</option>
                            <option value="1">VentaId</option>
                            <option value="2">ClienteId</option>
                            <option value="3">UsuarioId</option>
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <label>Criterio</label>
                        <div class="input-group">
                            <input type="text" @bind="Criterio" class="form-control">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar(0))"><i class="oi oi-list-rich" /> Consultar</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*La Tabla*@
                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>VentaId</th>
                                <th>Fecha</th>
                                <th>ClienteId</th>
                                <th>Nombres</th>
                                <th>Total</th>
                                <th>Balance</th>
                                <th>Fecha Creación</th>
                                <th>Fecha Modificación</th>
                                <th>UsuarioId</th>
                            </tr>
                        </thead>
                        @*Asignacion de Datos*@
                        <tbody class="bg-white">
                            @foreach (var item in AuxListaVentas)
                            {
                                <tr>
                                    <td>@item.VentaId</td>
                                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                    <td>@item.ClienteId</td>
                                    <td>@ObtenerNombre(item.ClienteId)</td>
                                    <td>@item.Total.ToString("n2")</td>
                                    <td>@item.Balance.ToString("n2")</td>
                                    <td>@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                                    <td>@item.FechaModificacion.ToString("dd/MM/yyyy")</td>
                                    <td>@item.UsuarioId</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="form-row">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div>
                <label>Total de Registros: @TotalRegistros</label>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div>
                <label>Total: @Total.ToString("n2")</label>
            </div>
        </div>

        <div class="form-group text-center" display: inline-block>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <button class="page-link btn btn-primary"
                                @onclick="@(e => NavegateTo("Anterior"))" tabindex="-1">
                            Anterior
                        </button>
                    </li>

                    @for (int i = 0; i < TotalPaginas; i++)
                    {
                        var NumeroPagina = i;
                        <li class="page-item">
                            <button class="@(pagina.pagina == NumeroPagina ? "page-link btn btn-dark" : "page-link btn btn-danger")"
                                    @onclick="@(u => Consultar(NumeroPagina))">
                                @(i + 1)
                            </button>
                        </li>
                    }

                    <li class="page-item">
                        <button type="button" class="page-link btn btn-primary" @onclick="@(e => NavegateTo("Siguiente"))" tabindex="-1">Siguiente</button>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="card-footer">
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary oi oi-file" @onclick="GenerarReporte"> Generar Reporte</button>
            </div>

            <form>
                @if (Data is { })
                {
                    <object data="@pdfContent" width="1000" height="500"></object>
                }
            </form>
        </div>
    </div>
}

@code {
    private List<Ventas> ListaVentas { get; set; }
    private List<Ventas> AuxListaVentas { get; set; }

    Paginas pagina = new Paginas();

    private DateTime Desde { get; set; } = DateTime.Now;
    private DateTime Hasta { get; set; } = DateTime.Now;

    private string Filtro { get; set; }
    private string FiltroFecha { get; set; }

    private string Criterio { get; set; }

    private int Numeracion { get; set; }
    private int TotalPaginas { get; set; }
    private int TotalRegistros { get; set; }

    private decimal Total { get; set; }

    byte[] Data;
    string pdfContent = "";

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        ListaVentas = new List<Ventas>();
        AuxListaVentas = new List<Ventas>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    public void Consultar(int pag)
    {
        switch (Filtro)
        {
            case "0": //Todo
                ListaVentas = VentasBLL.GetList(v => true);
                break;
            case "1": //VentaId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int id = Convert.ToInt32(Criterio);
                        ListaVentas = VentasBLL.GetList(v => v.VentaId == id);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un número");
                    }
                }
                else
                {
                    ListaVentas = VentasBLL.GetList(v => true).OrderBy(v => v.VentaId).ToList();
                }
                break;
            case "2": //ClientesId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int id = Convert.ToInt32(Criterio);
                        ListaVentas = VentasBLL.GetList(v => v.ClienteId == id);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un número");
                    }
                }
                else
                {
                    ListaVentas = VentasBLL.GetList(v => true).OrderBy(v => v.ClienteId).ToList();
                }
                break;
            case "3": //UsuarioId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int usuarioId = Convert.ToInt32(Criterio);
                        ListaVentas = VentasBLL.GetList(v => v.UsuarioId == usuarioId);
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un número");
                    }
                }
                else
                {
                    ListaVentas = VentasBLL.GetList(v => true).OrderBy(v => v.UsuarioId).ToList();
                }
                break;
        }

        switch (FiltroFecha)
        {
            case "0": //Nada
                break;
            case "1": //Fecha
                ListaVentas = ListaVentas.Where(s => s.Fecha >= Desde && s.Fecha <= Hasta).ToList();
                break;
            case "2": //FechaCreacion
                ListaVentas = ListaVentas.Where(s => s.FechaCreacion >= Desde && s.FechaCreacion <= Hasta).ToList();
                break;
            case "3": //FechaModificacion
                ListaVentas = ListaVentas.Where(s => s.FechaModificacion >= Desde && s.FechaModificacion <= Hasta).ToList();
                break;
        }

        TotalPaginas = (int)Math.Ceiling(ListaVentas.Count() / (decimal)pagina.mostrarCantidad);
        ActualizarLista(pag);

        TotalRegistros = ListaVentas.Count();
        CalcularTotal(AuxListaVentas);

        Filtro = "0";
        FiltroFecha = "0";
        Criterio = "";
    }

    private void ActualizarLista(int NumeroPagina)
    {
        AuxListaVentas = ListaVentas.Skip(NumeroPagina * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        pagina.pagina = NumeroPagina;
    }

    private void CalcularTotal(List<Ventas> listaVentas)
    {
        foreach (var ventas in listaVentas)
        {
            Total += ventas.Total;
        }
    }

    private string ObtenerNombre(int id)
    {
        Clientes cliente = ClientesBLL.Buscar(id);

        return cliente.Nombres;
    }

    private void NavegateTo(string direccion)
    {
        if (direccion == "Anterior" && pagina.pagina != 0)
            pagina.pagina -= 1;
        if (direccion == "Siguiente" && pagina.pagina != TotalPaginas)
            pagina.pagina += 1;

        ActualizarLista(pagina.pagina);
    }



    private void GenerarReporte()
    {
        VentasReport ventas = new VentasReport();

        Data = ventas.Reporte(AuxListaVentas);

        pdfContent = "data:application/pdf;base64,";
        pdfContent += System.Convert.ToBase64String(Data);
    }
}